<% provide(:title, "Monthly Summary") %>
<% content_for :additional_styles do %>
  <%= stylesheet_link_tag "css/styles/table" %>
<% end %>

<div class="with-padding">

    <%= link_to 'New Monthly summary', new_monthly_summary_path %>

    <table class="simple-table">
        <thead>
          <tr>
            <th scope="col">Club</th>
            <th scope="col">Month</th>
            <th scope="col">Business days in month</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>

        <tfooter></tfooter>

        <tbody>

            <% @monthly_summaries.each do |monthly_summary| %>
              <tr>
                <td><%= monthly_summary.club_name %></td>
                <td><%= monthly_summary.month.strftime('%B %Y') %></td>
                <td><%= monthly_summary.business_days_in_month %></td>
                <td><%= link_to 'Show', monthly_summary %></td>
                <td><%= link_to 'Edit', edit_monthly_summary_path(monthly_summary) %></td>
                <td><%= link_to 'Destroy', monthly_summary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>

        </tbody>

    </table>

    <br />


</div>