<p>
  Hi <%= @send_to.full_name %>,
</p>
<p>
  <%= @author.full_name %> has assigned the task, <%= @task.name %>, to you.
</p>
<p>
  The task must be completed by <%= @task.due_at.strftime('%A %B %e, %Y') %>
</p>
<p>
  <% if @task.id.nil? %>
    <%= link_to 'Click here', tasks_url %> to view the task.
  <% else %>
    <%= link_to 'Click here', task_url(@task) %> to view the task.
  <% end %>
</p>
