<% content_for :additional_styles do %>
  <%= stylesheet_link_tag "css/styles/form" %>
  <%= stylesheet_link_tag "css/styles/switches" %>
  <%= stylesheet_link_tag "css/login" %>
<% end %>

<div id="container">

  <hgroup id="login-title" class="large-margin-bottom">
    <h1 class="login-title-image">Club Manager - Sign in</h1>
    <h5>&copy; Club Manager - Sign in</h5>
  </hgroup>

  <%= render 'shared/messages' %>

  <%= form_tag(sessions_path, id: 'form-login' ) do %>
    <ul class="inputs black-input large">
      <li><span class="icon-user mid-margin-right"></span><%= email_field_tag :email, params[:email], class: 'input-unstyled', placeholder: 'Email', autocomplete: 'off' %></li>
      <li><span class="icon-lock mid-margin-right"></span><%= password_field_tag :password, '', class: 'input-unstyled', placeholder: 'Password', autocomplete: 'off' %></li>
    </ul>

    <button class="button glossy full-width huge" name="commit" type="submit">Sign In</button>

  <% end %>

  <div class="margin-top">
    <%= link_to "forgotten password?", new_password_reset_path, class: 'white' %>
  </div>

</div>

<% content_for :template_functions do %>
  <%= javascript_include_tag 'session/signin' %>
<% end %>
