<% content_for :additional_styles do %>
  <%= stylesheet_link_tag "css/styles/form" %>
  <%= stylesheet_link_tag "css/styles/switches" %>
  <%= stylesheet_link_tag "css/login" %>
<% end %>

<div id="container">

  <hgroup id="login-title" class="large-margin-bottom">
    <h1 class="login-title-image">Club Manager - Reset Password</h1>
    <h5>&copy; Club Manager - Reset Password</h5>
  </hgroup>

  <%= render 'shared/error_messages' %>

  <%= form_for @user, url: password_reset_path(params[:id]), html: { id: 'form-login' } do |f| %>
    <ul class="inputs black-input large">
      <li><span class="icon-user mid-margin-right"></span><%= f.password_field :password, class: 'input-unstyled', placeholder: 'New Password', autocomplete: 'off' %></li>
      <li><span class="icon-user mid-margin-right"></span><%= f.password_field :password_confirmation, class: 'input-unstyled', placeholder: 'Confirm Password', autocomplete: 'off' %></li>
    </ul>

    <button class="button glossy full-width huge" name="commit" type="submit">Update Password</button>

  <% end %>

</div>

<% content_for :template_functions do %>
  <%= javascript_include_tag 'session/newpwd' %>
<% end %>


