<div class="panel-control align-right">

  <% if current_user == @task.owner && @task.is_not_complete? %>
    <%= link_to assign_task_path(@task), id: 'task-assign', class: 'button open-on-panel-content' do %>
      <span class="button-icon"><span class="icon-lightning"></span></span>
      Assign Task
    <% end %>
  <% end %>
  <% if current_user == @task.assignee && @task.assigned? %>
    <%= link_to update_claimed_task_path(@task), id: 'task-claim', class: 'button', method: :put, remote: true do %>
      <span class="button-icon"><span class="icon-like"></span></span>
      Accept Task
    <% end %>
  <% end %>
  <% if current_user == @task.assignee && (@task.assigned? || @task.claimed?) %>
    <%= link_to start_task_path(@task), class: 'button', method: :put, remote: true do %>
      <span class="button-icon"><span class="icon-play"></span></span>
      Start Task
    <% end %>
  <% end %>
  <% if current_user == @task.assignee && @task.started? %>
    <%= link_to complete_task_path(@task), class: 'button', method: :put, remote: true do %>
      <span class="button-icon"><span class="icon-play"></span></span>
      Complete Task
    <% end %>
  <% end %>
  <%= link_to edit_task_path(@task), class: 'button open-on-panel-content' do %>
    <span class="button-icon"><span class="icon-star"></span></span>
    Edit Task
  <% end %>
  <%= link_to new_task_path, class: 'button open-on-panel-content' do %>
    <span class="button-icon"><span class="icon-star"></span></span>
    Create Task
  <% end %>
</div>

<div id="show-data" class="with-padding">
  <p class="inline-medium-label">
    <%= label_tag 'name', 'Task', class: 'label' %>
    <%= @task.name %>
  </p>

  <p class="inline-medium-label">
    <%= label_tag 'context_name', 'Context', class: 'label' %>
    <%= @task.context_name %>
  </p>

  <p class="inline-medium-label">
    <%= label_tag 'project_name', 'Project', class: 'label' %>
    <%= @task.project_name %>
  </p>

  <p class="inline-medium-label">
    <%= label_tag 'state', 'Status', class: 'label' %>
    <%= @task.state %>
  </p>

  <p class="inline-medium-label">
    <%= label_tag 'owned_by', 'Owned By', class: 'label' %>
    <%= @task.owner_full_name %>
  </p>

  <p class="inline-medium-label">
    <%= label_tag 'assigned_to', 'Assigned To', class: 'label' %>
    <%= @task.assigned_to %>
  </p>

  <p class="inline-medium-label">
    <%= label_tag 'due_at', 'Date Due', class: 'label' %>
    <%= date_format(@task.due_at) %>
  </p>

  <p class="inline-medium-label">
    <%= label_tag 'claimed_at', 'Date claimed', class: 'label' %>
    <%= date_format(@task.claimed_at) %>
  </p>

  <p class="inline-medium-label">
    <%= label_tag 'started_at', 'Date started', class: 'label' %>
    <%= date_format(@task.started_at) %>
  </p>

  <p class="inline-medium-label">
    <%= label_tag 'completed_at', 'Date completed', class: 'label' %>
    <%= date_format(@task.completed_at) %>
  </p>

  <p class="inline-medium-label">
    <%= label_tag 'notes', 'Notes', class: 'label' %>
    <%= @task.notes %>
  </p>
</div>
