<% provide(:current_tasks, " class='current'".html_safe) %>
<% provide(:title, "Tasks") %>

<% content_for :additional_styles do %>
  <%= stylesheet_link_tag 'css/styles/table' %>
<% end %>

<% content_for :template_functions do %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'js/developr.table' %>
<% end %>

<div class="with-padding">

  <% if can? :create, Task %>
    <div class="small-margin-bottom">
      <%= link_to 'New Task', new_task_path, class: 'button icon-star' %>
    </div>
  <% end %>

  <table class="table">

    <thead>
      <tr>
        <th scope="col">Task Name</th>
        <th scope="col">Date Due</th>
        <th scope="col">Assigned To</th>
        <th scope="col">Status</th>
        <th scope="col">Created By</th>
        <th scope="col"></th>
      </tr>
    </thead>

    <tbody>

      <% @tasks.each do |task| %>

        <tr>
          <th scope="row"><%= link_to task.name, task %></th>
          <td><%= date_format(task.due_at) %></td>
          <td><%= task.assignee_full_name %></td>
          <td><%= task.state %></td>
          <td><%= task.owner_full_name %></td>
          <td class="align-right low-padding">
            <%= link_to 'Show', task, class: 'button compact' %>
            <% if can? :update, task %>
              <%= link_to 'Edit', edit_task_path(task), class: 'button compact' %>
            <% end %>
            <% if can? :destroy, task %>
              <%= link_to 'Delete', task, method: :delete, class: 'button compact', data: { confirm: 'Are you sure?' } %>
            <% end %>
          </td>
        </tr>

      <% end %>

    </tbody>

  </table>

</div>
