<% provide(:title, "Tasks") %>
<% content_for :additional_styles do %>
  <%= stylesheet_link_tag 'css/styles/form' %>
  <%= stylesheet_link_tag 'css/styles/modal' %>
<% end %>

<% content_for :panel_control do %>
  <%= link_to assign_task_path(@task), id: 'task-assign', class: 'button' do %>
    <span class="button-icon"><span class="icon-lightning"></span></span>
    Assign Task
  <% end %>
  <%= link_to edit_task_path(@task), class: 'button' do %>
    <span class="button-icon"><span class="icon-star"></span></span>
    Edit Task
  <% end %>
<% end %>

<div class="with-padding">
  <p class="button-height inline-medium-label">
    <%= label_tag 'name', 'Task', class: 'label' %>
    <%= @task.name %>
  </p>

  <p class="button-height inline-medium-label">
    <%= label_tag 'context_name', 'Context', class: 'label' %>
    <%= @task.context_name %>
  </p>

  <p class="button-height inline-medium-label">
    <%= label_tag 'project_name', 'Project', class: 'label' %>
    <%= @task.project_name %>
  </p>

  <p class="button-height inline-medium-label">
    <%= label_tag 'state', 'Status', class: 'label' %>
    <%= @task.state %>
  </p>

  <p class="button-height inline-medium-label">
    <%= label_tag 'owned_by', 'Owned By', class: 'label' %>
    <%= @task.owner_full_name %>
  </p>

  <p class="button-height inline-medium-label">
    <%= label_tag 'assigned_to', 'Assigned To', class: 'label' %>
    <%= @task.assigned_to %>
  </p>

  <p class="button-height inline-medium-label">
    <%= label_tag 'due_at', 'Date Due', class: 'label' %>
    <%= date_format(@task.due_at) %>
  </p>

  <p class="button-height inline-medium-label">
    <%= label_tag 'notes', 'Notes', class: 'label' %>
    <%= @task.notes %>
  </p>
</div>

<% content_for :template_functions do %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'js/setup' %>
  <%= javascript_include_tag 'js/developr.modal' %>
  <%= javascript_include_tag 'tasks' %>
<% end %>
