<% provide(:title, "Messages") %>
<% content_for :additional_styles do %>
  <%= stylesheet_link_tag "css/styles/form" %>
  <%= stylesheet_link_tag "js/libs/CLEditor/jquery.cleditor" %>
  <%= stylesheet_link_tag 'css/styles/jquery-ui-1.9.2.custom.min' %>
<% end %>

<% content_for :template_functions do %>
  <%= javascript_include_tag 'js/developr.content-panel' %>
  <%= javascript_include_tag 'js/developr.scroll' %>
  <%= javascript_include_tag 'js/jquery-ui-1.9.2.custom.min' %>
  <%= javascript_include_tag 'js/libs/CLEditor/jquery.cleditor.min' %>
  <%= javascript_include_tag 'js/developr.notify' %>
<% end %>

<div class="content-panel">

	<!-- Navigation Panel -->
	<div class="panel-navigation silver-gradient">

	    <div class="panel-control">
	            <%= link_to "Refresh", inbox_refresh_path, class: 'button icon-undo open-on-panel-navigation' %>
	    </div>

	    <div class="panel-load-target scrollable" style="560px">
			<%= render 'navigation' %>
		</div>
	
	</div>

	<!-- Content panel -->
	<div class="panel-content silver-gradient">
		

		<div id="message-panel" class="panel-load-target scrollable" style="height:600px">

			<div class="panel-control align-right">
				<%= link_to 'New message', new_message_path, class: 'button icon-star margin-left open-on-panel-content' %>
			</div>

		</div>

	</div>

</div>