<% provide(:title, "Change Password - #{@user.full_name}") %>

<% content_for :additional_styles do %>
  <%= stylesheet_link_tag 'css/styles/form' %>
<% end %>

<div class="large-margin-left large-margin-right">

  <fieldset class="fieldset">
    <%= form_for @user do |f| %>

      <p class="button-height inline-medium-label">
        <%= f.label :password, 'New Password', class: 'label' %>
        <%= f.password_field :password, class: 'input' %>
      </p>

      <p class="button-height inline-medium-label">
        <%= f.label :password_confirmation, 'Confirm Password', class: 'label' %>
        <%= f.password_field :password_confirmation, class: 'input' %>
      </p>

      <p class="button-height inline-medium-label">
        <button class="button glossy mid-margin-right" type="submit">
          <span class="button-icon"><span class="icon-tick"></span></span>
          Update Password
        </button>
      </p>

    <% end %>
  </fieldset>

</div>
