<% provide(:title, "User Settings - #{@user.full_name}") %>

<% content_for :additional_styles do %>
  <%= stylesheet_link_tag 'css/styles/form' %>
<% end %>

<div class="large-margin-left large-margin-right">

  <fieldset class="fieldset">

    <p class="inline-medium-label">
      <%= label_tag 'employee_number', 'Employee Number', class: 'label' %>
      <%= @user.employee_number %>
    </p>

    <p class="inline-medium-label">
      <%= label_tag 'title', 'Job Title', class: 'label' %>
      <%= @user.title %>
    </p>

    <p class="inline-medium-label">
      <%= label_tag 'email', 'E-Mail', class: 'label' %>
      <%= @user.email %>
    </p>

    <p class="inline-medium-label">
      <%= label_tag 'roles', 'Roles', class: 'label' %>
      <%= @user.roles %>
    </p>

  </fieldset>

  <div class="margin-top">
    <%= link_to 'Change Password', change_password_user_path(@user), class: 'button' %>
    <%= link_to 'Change Settings', edit_user_path(@user), class: 'button' %>
  </div>

</div>
