<div id="menu-content">

        <header>
          <%= current_user.title %>
        </header>

        <div id="profile">
          <%= gravatar_for(current_user, size: '64') %>

                Hello
                <%= dashboard_user(current_user) %>
        </div>

        <ul id="access" class="children-tooltip">
                <!-- Icon with count -->
                <li><%= link_to inbox_path, title: "Messages" do %>
                        <span class="icon-inbox"></span>
                        <span class="count"><%= unread_count %></span>
                    <% end %></li>
                <!-- Simple icon -->
                <li><a href="#" title="Calendar">
                        <span class="icon-calendar"></span></a>
                </li>
                <!-- Disabled icon -->
                <li><a href="#" title="User Settings">
                    <span class="icon-gear"></span></a>
                </li>
                <li><%= link_to destroy_user_session_path, title: 'Signout', method: :delete do %>
                    <span class="icon-extract"></span>
                  <% end %></li>
        </ul>

        <!-- Navigation goes here -->
        <section class="navigable">

          <ul class="big-menu">
            <li class="with-right-arrow">
              <span>Tasks</span>
              <ul class="big-menu grey-gradient">
                <li class="title-menu">Tasks</li>
                  <li class="calendar-menu">
                    <%= link_to '#', title: 'See task' do %>
                      <time datetime="2011-10-06"><b>6</b> Oct</time>
                      <small class="red">10:30</small>
                      <span class="red">Fix broken window</span>
                    <% end %>
                  </li>
                  <li class="calendar-menu">
                    <%= link_to '#', title: 'See task' do %>
                      <time datetime="2011-10-11"><b>11</b> Oct</time>
                      <small class="green">10:30</small>
                      Wash the dog
                    <% end %>
                  </li>
                  <li class="calendar-menu">
                    <%= link_to '#', title: 'See task' do %>
                      <time datetime="2011-10-12"><b>12</b> Oct</time>
                      <small class="green">11:30</small>
                      Take out the trash
                    <% end %>
                  </li>
                <li>
                  <%= link_to '#' do %>
                    My Tasks<span><span class="list-count">11</span></span>
                  <% end %>
                </li>
                <li><%= link_to 'All Tasks', '#' %></li>
                <li><%= link_to 'Projects', '#' %></li>
              </ul>
            </li>
          </ul>

        </section>

</div>
