        <header>
          <%= current_user.title %>
        </header>

        <div id="profile">
          <%= gravatar_for(current_user, size: '64') %>

                Hello
                <%= dashboard_user(current_user) %>
        </div>

        <ul id="access" class="children-tooltip">
                <li><%= link_to inbox_path, title: "Messages" do %>
                        <span class="icon-inbox"></span>
                        <span class="count"><%= unread_count %></span>
                    <% end %></li>
                <li><%= link_to calendar_path, title: 'Calendar' do %>
                        <span class="icon-calendar"></span></a>
                    <% end %></li>
                <% if can? :manage, MonthlySummary %>
                <li><%= link_to monthly_summaries_path, title: 'Summary' do %>
                    <span class="icon-gear"></span>
                <% end %></li>
                <% end %>
                <li><%= link_to destroy_user_session_path, title: 'Signout', method: :delete do %>
                    <span class="icon-extract"></span>
                  <% end %></li>
        </ul>

        <!-- Navigation goes here -->
        <ul class="unstyled-list">
          <li class="title-menu">Today's Tasks</li>
          <% unless @incomplete_tasks.empty? %>
          <li>
            <ul class="message-menu bevel-on-light-subs dark-text-bevel-subs">
            <% @incomplete_tasks.each do |task| %>
                <li class="white-gradient">
                    <ul class="message-status">
                        <li class="unstarred"><%= link_to 'Complete Task', '#', title: 'Incomplete' %></li>
                    </ul>
                    <%= link_to '#', title: 'Open checklist' do %>
                        <strong class="blue"><%= task.name %></strong><br />
                        <%= task.checklist_name %>
                    <% end %>
                </li>
            <% end %>
            </ul>
          </li>
          <% end %>
          <li class="title-menu">New Messages</li>
          <% unless @unread_envelopes.empty? %>
          <li>
            <ul class="message-menu bevel-on-light-subs dark-text-bevel-subs">
            <% @unread_envelopes.each do |envelope| %>
                <li class="white-gradient">
                    <ul class="message-status">
                        <li class="starred"><%= link_to 'Starred', '#', title: 'Starred' %></li>
                        <li class="new-message"><%= link_to 'New', '#', title: 'Mark as read' %></li>
                    </ul>
                    <ul class="message-info">
                        <li class="blue"><%= format_delivery_date(envelope.delivered_at) %></li>
                    </ul>
                    <%= link_to '#', title: 'Read Message' do %>
                        <strong class="blue"><%= envelope.sender_full_name %></strong><br />
                        <strong><%= envelope.message_subject %></strong>
                    <% end %>
                </li>
            <% end %>
            </ul>
          </li>
          <% end %>
          <li class="title-menu">Today's Events</li>
        </ul>