        <header>
          <%= current_user.title %>
        </header>

        <div id="profile">
          <%= gravatar_for(current_user, size: '64') %>

                Hello
                <%= dashboard_user(current_user) %>
        </div>

        <ul id="access" class="children-tooltip">
                <li><%= link_to inbox_path, title: "Messages" do %>
                        <span class="icon-inbox"></span>
                        <span class="count"><%= unread_count %></span>
                    <% end %></li>
                <li><%= link_to calendar_path, title: 'Calendar' do %>
                        <span class="icon-calendar"></span></a>
                    <% end %></li>
                <li><%= link_to current_user, title: 'User Settings' do %>
                    <span class="icon-gear"></span>
                <% end %></li>
                <li><%= link_to destroy_user_session_path, title: 'Signout', method: :delete do %>
                    <span class="icon-extract"></span>
                  <% end %></li>
        </ul>

        <section class="navigable">
          <ul class="big-menu">
            <% if can? :manage, MonthlySummary %>
            <li>
              <%= link_to "Monthly Summary", monthly_summaries_path %>
            </li>
            <% end %>
            <li class="with-right-arrow">
              <span>Checklists</span>
              <ul class="big-menu">
                <% unless @daily_incomplete.empty? %>
                  <li class="with-right-arrow">
                    <span>Today's Tasks</span>
                    <ul class="message-menu bevel-on-light-subs dark-text-bevel-subs">
                        <li class="title-menu">Today's Tasks</li>
                    <% @daily_incomplete.each do |task| %>
                        <li class="white-gradient">
                            <%= link_to task.checklist, title: 'Open checklist' do %>
                                <strong class="blue"><%= task.name %></strong><br />
                                <%= task.checklist_name %>
                            <% end %>
                        </li>
                    <% end %>
                    </ul>
                  </li>
                <% end %>
                <% unless @weekly_incomplete.empty? %>
                <li class="with-right-arrow">
                  <span>This Week's Tasks</span>
                    <ul class="message-menu bevel-on-light-subs dark-text-bevel-subs">
                      <li class="title-menu">This Week's Tasks</li>
                    <% @weekly_incomplete.each do |task| %>
                        <li class="white-gradient">
                            <%= link_to task.checklist, title: 'Open checklist' do %>
                                <strong class="blue"><%= task.name %></strong><br />
                                <%= task.checklist_name %>
                            <% end %>
                        </li>
                    <% end %>
                    </ul>
                </li>
                <% end %>
                <% unless @monthly_incomplete.empty? %>
                <li class="with-right-arrow">
                  <span>This Month's Tasks</span>
                    <ul class="message-menu bevel-on-light-subs dark-text-bevel-subs">
                      <li class="title-menu">This Month's Tasks</li>
                    <% @monthly_incomplete.each do |task| %>
                        <li class="white-gradient">
                            <%= link_to task.checklist, title: 'Open checklist' do %>
                                <strong class="blue"><%= task.name %></strong><br />
                                <%= task.checklist_name %>
                            <% end %>
                        </li>
                    <% end %>
                    </ul>
                </li>
                <% end %>
              </ul>
            </li>
          </ul>
        </section>
        <!-- Navigation goes here -->
        <div id="navigation-list">
          <%= render 'shared/navigation' %>
        </div>
