<div class="six-columns new-line">
  <div class="block">
    <div class="block-title">
      <h3><%= block_name.titleize %></h3>
    </div>

    <div class="with-mid-padding">

      <div class="columns">

        <div class="six-columns">

          <div id="<%= "#{club.abbreviation}-#{block_name}-chart" %>"></div>

        </div>

        <div class="six-columns">

          <div class="columns">
            <div class="twelve-columns no-margin-bottom">
              
            </div>
            <div class="twelve-columns new-row">
              <strong><%= block_name.titleize %></strong>
              <table width="100%">
                <tr>
                  <td>Cash to Date</td>
                  <td class="align-right"><%= cash_to_date(block_name, summary) %></td>
                </tr>
                <tr>
                  <td>Projected</td>
                  <td class="align-right"><%= projected(block_name, summary) %></td>
                </tr>
                <tr>
                  <td>Goal</td>
                  <td class="align-right green"><strong><%= goal(block_name, summary) %></strong></td>
                </tr>
                <tr>
                  <td>Over/Under</td>
                    <%= over_under(block_name, summary) %>
                  </tr>
              </table>
            </div>
          </div>

        </div>

      </div>

    </div>

  </div>

</div>


<% content_for :additional_javascript do %>
  <script type="text/javascript">

      function drawMGauge() {
        mGaugeData = google.visualization.arrayToDataTable([
            ['Label', 'Value'],
            ['<%= club.abbreviation %>', <%= percent_complete(block_name, summary) %>]
        ]);

        mGauge = new google.visualization.Gauge(document.getElementById('<%= "#{club.abbreviation}-#{block_name}-chart" %>'));

        mGauge.draw(mGaugeData, gaugeOptions);
      }

      google.setOnLoadCallback(drawMGauge);

  </script>
<% end %>