<!-- Membership Block -->
<div class="six-columns new-line">

  <div class="block">
    <div class="block-title">
      <h3>Membership</h3>
      <div class="button-group absolute-right compact">
        <%= link_to '', '#', class: "button icon-left" %>
        <%= link_to 'Today', '#', class: 'button' %>
        <%= link_to '', '#', class: 'button icon-right' %>
      </div>
    </div>

    <div class="with-mid-padding">

      <div class="columns">

        <div class="six-columns">

          <div id="membership-chart"></div>

        </div>

        <div class="six-columns">

          <div class="columns">
            <div class="twelve-columns no-margin-bottom">
              <%= link_to "More", '#', class: 'button blue-gradient margin-right float-right' %>
            </div>
            <div class="twelve-columns new-row">
              <strong>Memberships</strong>
              <table width="100%">
                <tr>
                  <td>Cash to Date</td>
                  <td class="align-right">$20,000</td>
                </tr>
                <tr>
                  <td>Projected</td>
                  <td class="align-right">$35,000</td>
                </tr>
                <tr>
                  <td>Goal</td>
                  <td class="align-right green"><strong><%= format_currency(@monthly_summary.membership_goal) %></strong></td>
                </tr>
                <tr>
                  <td>Over/Under</td>
                  <td class="align-right red"><strong>-$15,000</strong></td>
                </tr>
              </table>
            </div>
          </div>

        </div>

        <div class="new-line twelve-columns margin-left padding-right">

          <h4 class="no-margin-bottom">Membership Draft Expected</h4>
          <table width="98%">
            <tr>
              <td>Draft to Date</td>
              <td class="align-right">$45,000</td>
            </tr>
            <tr>
              <td>Projected</td>
              <td class="align-right"><%= format_currency(@monthly_summary.membership_draft_expected) %></td>
            </tr>
            <tr>
              <td>Goal</td>
              <td class="align-right green"><strong><%= format_currency(@monthly_summary.membership_draft_expected) %></strong></td>
            </tr>
          </table>

          <h4 class="no-margin-bottom">Membership Daily Averages</h4>
          <table width="98%">
            <tr>
              <td>Actual Daily Average</td>
              <td class="align-right">$1,000</td>
            </tr>
            <tr>
              <td>Daily Goal Average</td>
              <td class="align-right">$800</td>
            </tr>
            <tr>
              <td>Daily Needed to reach Monthly Goal</td>
              <td class="align-right red"><strong>$1,200</strong></td>
            </tr>
          </table>

        </div>

      </div>

    </div>

  </div>

</div>


<% content_for :additional_javascript do %>
  <script type="text/javascript">

      function drawMGauge() {
        mGaugeData = google.visualization.arrayToDataTable([
            ['Label', 'Value'],
            ['', 55],
        ]);

        mGauge = new google.visualization.Gauge(document.getElementById('membership-chart'));

        mGauge.draw(mGaugeData, gaugeOptions);
      }

      google.setOnLoadCallback(drawMGauge);

  </script>
<% end %>