<%= content_tag :div, { id: "tab-#{club_counter+1}", class: "with-padding" } do %>

  <div class="columns">

	<div class="three-columns align-center">
	  <strong>
	    Today's Date: <span class="orange"><%= Date.current.strftime('%m/%d/%Y') %></span>
	  </strong>
	</div>

	<div class="three-columns align-center">
	  <strong>
	    Business Days In Month: <span class="orange"><%= monthly_summary(club, @current_month).business_days_in_month %></span>
	  </strong>
	</div>

	<div class="three-columns align-center">
	  <strong>
	    Business Days Completed: <span class="orange"><%= business_days_completed(club, @current_month) %></span>
	  </strong>
	</div>

	<div class="three-columns">
      <%= link_to "More", '#', class: 'button blue-gradient' %>
      <div class="button-group">
        <%= link_to '', '#', class: "button icon-left" %>
        <%= link_to 'Today', '#', class: 'button' %>
        <%= link_to '', '#', class: 'button icon-right' %>
      </div>
	</div>

  	<%= render partial: 'block_content', collection: MonthlySummary::SUMMARY_TYPES, as: :block_name, 
  	    locals: { club: club, summary: monthly_summary(club, @current_month) } %>

  </div>

<% end %>