<div class="event_editor_fields">
<%= form_for(@event, remote: true) do |f| %>
  <header>
    <fieldset>
      <table>
        <tbody>
          <tr>
            <td class="summary">
              <%= f.text_field :summary, class: 'event_input subject', placeholder: 'New Event' %>
            </td>
            <td class="spacer">&nbsp;</td>
            <td class="time">
              <%= f.text_field :start_time, class: 'event_input event_time', placeholder: 'any time' %>
            </td>
          </tr>
          <tr>
            <td colspan="3" class="event_description">
              <%= f.text_field :description, class: 'event_input', placeholder: 'add an optional note' %>
            </td>
          </tr>
        </tbody>
      </table>
    </fieldset>
  </header>

  <div class="event_date">
    <%= f.text_field :starts_at_date, class: 'starts_at_datepicker' %>
    <div class="event_ends_at">
      <% unless @event.is_recurring? || @event.starts_at_date < @event.ends_at_date %>
        <div id="event-links">
          <div class="event-link date_range">Lasts multiple days</div>
          <div class="event-link recurring_event">Recurring Event</div>
        </div>
      <% end %>
    <% if @event.is_recurring? %>
      <div id="recurring-event">
    <% else %>
       <div id="recurring-event" style="display: none;">
    <% end %>
        <div class='recurring_description'>This event occurrs every:</div>
        <div class="recurring_days">
          <% for day in Event::DAYS_OF_WEEK %>
            <%= check_box_tag "event[days_of_week][]", day, @event.days_of_week.include?(day) %>
            <%= day.humanize %>
          <% end %>
        </div>
      </div>
    <% if @event.starts_at_date < @event.ends_at_date %>
      <div class="ends_at_date">
    <% else %>
      <div class="ends_at_date" style="display: none;">
    <% end %>
        <div>Until</div>
        <%= f.text_field :ends_at_date, class: 'ends_at_datepicker' %>
      </div>
    </div>
  </div>
  <div class="event_subscribers">
    <span class="event-link invite-others">Invite others to this event</span>
    <% if @event.subscribers.empty? %>
    <%= f.text_field :subscription_names, class: 'event_input', style: 'display: none',  placeholder: 'type the names to be notified' %>
    <% else %>
    <%= f.text_field :subscription_names, class: 'event_input', placeholder: 'type the names to be notified' %>
    <% end %>
  </div>

  <%= f.hidden_field :organizer_id %>
<% end %>
</div>

<%= javascript_include_tag 'events' %>
