<%= stylesheet_link_tag "css/reset" %>
<%= stylesheet_link_tag "css/style" %>
<%= stylesheet_link_tag "css/colors" %>

<p class="message green-gradient glossy""><%= flash[:success] %></p>

<%= render :partial => 'show_data' %>
