<h1>Listing events</h1>

<table>
  <tr>
    <th>User</th>
    <th>Invitee list</th>
    <th>Subject</th>
    <th>Location</th>
    <th>Description</th>
    <th>Start at</th>
    <th>End at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.user_id %></td>
    <td><%= event.invitee_list %></td>
    <td><%= event.subject %></td>
    <td><%= event.location %></td>
    <td><%= event.description %></td>
    <td><%= event.start_at %></td>
    <td><%= event.end_at %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path %>
