<div class="event_editor_fields">
<%= form_for(@event, remote: true) do |f| %>
  <%= f.text_field :subject, class: 'event_input subject', placeholder: 'New Event' %>
  <%= f.text_field :event_time, class: 'event_input', placeholder: 'any time' %>
  <br />
  <%= f.text_field :description, class: 'event_input', placeholder: 'add an optional note' %>
  <p class="button-height">
    <%= f.text_field :event_date, class: 'datepicker' %>
  </p>
<% end %>
</div>

<script>
  jQuery(function() {
    $(".datepicker").datepicker();
  });
</script>
