<p id="notice"><%= notice %></p>

<p>
  <b>Invitee list:</b>
  <%= @event.invitee_list %>
</p>

<p>
  <b>Subject:</b>
  <%= @event.subject %>
</p>

<p>
  <b>Location:</b>
  <%= @event.location %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>Start at:</b>
  <%= format_event_date @event.start_at %>
</p>

<p>
  <b>End at:</b>
  <%= format_event_date @event.end_at %>
</p>
