<% provide(:current_check_list, " class='current'".html_safe) %>
<% provide(:title, "Checklists") %>

<% content_for :additional_styles do %>
  <%= stylesheet_link_tag 'css/styles/table' %>
  <%= stylesheet_link_tag 'css/styles/form' %>
<% end %>

<% content_for :template_functions do %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'js/developr.table' %>
  <%= javascript_include_tag 'checklist' %>
<% end %>

<div class="with-padding">

  <div class="small-margin-bottom">
    <div class="float-right">
      <%= form_tag checklists_path, method: :get, id: 'checklist-search' do %>
        <span class="input">
          <%= text_field_tag :query, params[:query], class: 'input-unstyled', placeholder: 'Looking for something?' %>
          <%= link_to 'Search', 'javascript:void(0)', id: 'checklist-search-btn', class: 'button compact blue-gradient' %>
        </span>
      <% end %>
    </div>
    <div class="clear-both"></div>
    <% if can? :create, Checklist %>
      <%= link_to 'New Checklist', new_checklist_path, class: 'button icon-star ' %>
    <% end %>
    <% if can? :manage, Checklist %>
      <%#= form_tag reports_checklists_path(format: 'pdf'), method: :get do %>
      <%= form_tag reports_checklists_path(format: 'pdf'), method: :get, id: 'checklist-filter' do %>
      <select name="report_type" id="report_type" class="select">
        <option value="daily_incomplete">Daily Incomplete</option>
        <option value="daily_complete">Daily Complete</option>
        <option value="weekly_incomplete">Weekly Incomplete</option>
        <option value="weekly_complete">Weekly Complete</option>
        <option value="monthly_incomplete">Monthly Incomplete</option>
        <option value="monthly_complete">Monthly Complete</option>
      </select>
      <%= select_tag :assigned_to, options_from_collection_for_select(User.all, "id", "full_name", params[:assigned_to]), class: 'select', include_blank: true %>
        <%= link_to 'Go', 'javascript:void(0)', id: 'checklist-filter-btn', class: 'button' %>
      <% end %>
    <% end %>
  </div>

  <table class="table">

    <thead>
      <tr>
        <th scope="col">List Name</th>
        <th scope="col">Frequency</th>
        <th scope="col">Assigned To</th>
        <th scope="col">Created By</th>
        <th scope="col"></th>
      </tr>
    </thead>

    <tbody>

      <% @checklists.each do |checklist| %>

        <% if can? :read, checklist %>
          <tr>
            <th scope="row"><%= link_to checklist.name, checklist %></th>
            <td><%= checklist.frequency %></td>
            <td><%= checklist.assigned_to %></td>
            <td><%= checklist.author_full_name %></td>
            <td class="align-right low-padding">
              <%= link_to 'Show', checklist, class: 'button compact' %>
              <% if can? :update, checklist %>
                <%= link_to 'Edit', edit_checklist_path(checklist), class: 'button compact' %>
                <%= link_to 'Delete', checklist, method: :delete, class: 'button compact', data: { confirm: 'Are you sure?' } %>
              <% end %>
            </td>
          </tr>
        <% end %>

      <% end %>

    </tbody>

  </table>

</div>
