<table class="simple-table">
  <tbody>
    <% checklist.checklist_items.each do |item| %>
      <tr>
        <th scope="row"><%= link_to item.name, item %></th>
        <td>
          <% unless item.has_checklist? %>
            <% unless item.is_complete? Time.now %>
              <%= link_to 'Complete', complete_checklist_item_path(item), class: 'button', remote: true, method: :put %>
            <% else %>
              <span class="green margin-right"><strong>Completed!</strong></span>
            <% end %>
          <% else %>
            <strong>Sub items</strong>
          <% end %>
        </td>
        <td>
          <% if item.is_complete? Time.now %>
            <%= link_to 'Undo', undo_complete_checklist_item_path(item), class: 'button', remote: true, method: :put %>
          <% else %>
            &nbsp;
          <% end %>
        </td>
        <td>
          <% if item.has_attachments? %>
            <span class="icon-paperclip icon-size1"></span>
            (<%= item.attachments.size %>)
          <% end %>
          &nbsp;
          <% if item.has_checklist? %>
            <span class="icon-page-list"></span>
            (<%= item.item_checklist.checklist_items.count %>)
          <% end %>
        </td>
      </tr>

      <% if item.has_checklist? %>
        <% item.item_checklist.checklist_items.each do |sub_item| %>
          <tr>
            <td>&nbsp;</td>
            <th scope="row"><%= link_to sub_item.name, sub_item %></th>
            <td>
              <% unless sub_item.has_checklist? %>
                <% unless sub_item.is_complete? Time.now %>
                  <%= link_to 'Complete', complete_checklist_item_path(sub_item), class: 'button', remote: true, method: :put %>
                <% else %>
                  <span class="green margin-right"><strong>Completed!</strong></span>
                <% end %>
              <% end %>
            </td>
            <td>
              <% if sub_item.is_complete? Time.now %>
                <%= link_to 'Undo', undo_complete_checklist_item_path(sub_item), class: 'button', remote: true, method: :put %>
              <% else %>
                &nbsp;
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>

    <% end %>
  </tbody>
</table>
