<%= form_for @checklist do |f| %>

  <div class="with-padding">

      <%= f.hidden_field :author_id %>
      <%= f.hidden_field :checklist_item_id %>

      <p class="button-height inline-medium-label">
        <%= f.label :name, class: 'label' do %>
          Checklist Name
        <% end %>
        <%= f.text_field :name, class: 'input' %>
        <small class="input-info">Required</small>
      </p>

      <p class="button-height inline-medium-label">
        <%= f.label :assigned_to, class: 'label' do %>
          Assigned To
        <% end %>
        <%= f.collection_select :assigned_to, User.all(order: :first_name), :full_name, :full_name, { prompt: true }, { class: 'select' } %>
        <small class="input-info">Required</small>
      </p>

      <p class="button-height inline-medium-label">
        <%= f.label :frequency, class: 'label' %>
        <% for frequency in Checklist::FREQUENCIES %>
          <%= f.radio_button :frequency, frequency, class: 'checkbox', checked: (@checklist.frequency == frequency) %>
          <%= frequency.humanize %>
        <% end %>
      </p>

      <p id="days-of-week" class="button-height inline-medium-label" style="display:<%= @checklist.frequency == Checklist::DAILY ? 'block' : 'none' %>">
        <%= f.label :days_of_week, "Days", class: 'label' %>
        <% for day in Checklist::DAYS_OF_WEEK %>
          <%= check_box_tag "checklist[days_of_week][]", day, @checklist.days_of_week.include?(day) %>
          <%= day.humanize %>
        <% end %>
      </p>

  </div>

  <div class="with-padding">

  <fieldset class="fieldset">
    <legend class="legend">Checklist Items</legend>
    <%= f.fields_for :checklist_items do |builder| %>
      <%= render 'checklist_item_fields', f: builder %>
    <% end %>
    <%= link_to_add_fields "Add an item", f, :checklist_items %>
  </fieldset>

  </div>

    <div class="field-block button-height">
      <%= button_tag(class: 'button glossy mid-margin-right open-on-panel-content') do %>
        <span class="button-icon"><span class="icon-tick"></span></span>
        Save
      <% end %>
      <%= link_to checklists_path, class: 'button' do %>
        <span class="button-icon red-gradient"><span class="icon-cross-round"></span></span>
        Cancel
      <% end %>
    </div>

<% end %>
