<% provide(:current_check_list, " class='current'".html_safe) %>
<% provide(:title, "Checklist Item - #{@checklist_item.name}") %>

<% content_for :additional_styles do %>
  <%= stylesheet_link_tag 'css/styles/jquery-ui-1.9.2.custom.min' %>
  <%= stylesheet_link_tag 'css/styles/files' %>
  <%= stylesheet_link_tag 'css/styles/switches' %>
  <%= stylesheet_link_tag 'css/styles/form' %>
  <%= stylesheet_link_tag 'css/styles/table' %>
<% end %>

<% content_for :template_functions do %>
  <%= javascript_include_tag 'js/jquery-ui-1.9.2.custom.min' %>
  <%= javascript_include_tag 'js/developr.input' %>
  <%= javascript_include_tag 'js/developr.accordions' %>
  <%= javascript_include_tag 'js/developr.table' %>
  <%= javascript_include_tag 'checklist_item' %>
<% end %>

<div class="with-padding">

  <div class="with-padding">
    <% if can? :update, @checklist_item %>
      <%= link_to 'Edit This Checklist Item', edit_checklist_item_path(@checklist_item), class: 'button icon-pencil' %>
    <% end %>
    <%= link_to 'Back to the Checklist', @checklist_item.checklist, class: 'button icon-page-list' %>
  </div>

  <div class="with-padding">
    <% if @checklist_item.has_attachments? %>
      <ul class="files-icons">
      <% @checklist_item.attachments.each do |attachment| %>
        <li>
          <span class="icon <%= attachment.image %>"></span>
          <%= link_to attachment.filename, attachment.item_url %>
          <br />
          <%= link_to 'Delete', attachment, method: :delete, data: { confirm: 'Are you sure you want to remove this attachment?' }, class: 'button tiny' %>
        </li>
      <% end %>
      </ul>
    <% end %>
  </div>

  <div id="file-upload" class="with-padding">
    <fieldset class="fieldset fields-list">
      <%= form_for @checklist_item.attachments.build do |f| %>
        <%= f.hidden_field :attachable_id %>
        <%= f.hidden_field :attachable_type %>
        <div class="button-height field-block">
          <%= f.label :item, 'Attach a file:', class: 'label' %>
          <span class="input file">
            <span class="file-text"></span>
            <span class="button compact">Select File</span>
            <%= f.file_field :item, class: "file withClearFunctions" %>
          </span>
        </div>
        <div class="field-block button-height">
        <p class="button-height">
          <%= link_to 'javascript:void(0)', class: 'button upload' do %>
            <span class="button-icon blue-gradient"><span class="icon-cloud-upload"></span></span>
            Upload File
          <% end %>
        </p>
      <% end %>
    </fieldset>
  </div>
  <div id="file-uploading" class="with-padding" style="display: none">
    <div class="mid-margin-bottom">Uploading, please wait...</div>
    <span class="loader huge working"></span>
  </div>

  <div class="with-padding">
    <hr />
  </div>
  <div id="checklist-items" class="with-padding">
    <%= render 'sub_checklist' %>
  </div>

</div>
