<% provide(:current_check_list, " class='current'".html_safe) %>
<% provide(:title, "Checklist Item - #{@checklist_item.name}") %>

<% content_for :additional_styles do %>
  <%= stylesheet_link_tag 'css/styles/jquery-ui-1.9.2.custom.min' %>
  <%= stylesheet_link_tag 'css/styles/files' %>
  <%= stylesheet_link_tag 'css/styles/switches' %>
  <%= stylesheet_link_tag 'css/styles/form' %>
  <%= stylesheet_link_tag 'css/styles/table' %>
<% end %>

<% content_for :template_functions do %>
  <%= javascript_include_tag 'js/jquery-ui-1.9.2.custom.min' %>
  <%= javascript_include_tag 'js/developr.input' %>
  <%= javascript_include_tag 'js/developr.accordions' %>
  <%= javascript_include_tag 'js/developr.table' %>
  <%= javascript_include_tag 'checklist_item' %>
<% end %>

<div class="with-padding">

  <div class="with-padding">
    <% if can? :update, @checklist_item %>
      <%= link_to 'Edit This Checklist Item', edit_checklist_item_path(@checklist_item), class: 'button icon-pencil' %>
    <% end %>
    <%= link_to 'Back to the Checklist', @checklist_item.checklist, class: 'button icon-page-list' %>
  </div>

  <div class="with-padding">
    <% if @checklist_item.has_attachments? %>
      <ul class="files-icons">
      <% @checklist_item.attachments.each do |attachment| %>
        <li>
          <span class="icon <%= attachment.image %>"></span>
          <%= link_to attachment.filename, attachment.item_url %>
          <br />
          <%= link_to 'Delete', attachment, method: :delete, data: { confirm: 'Are you sure you want to remove this attachment?' }, class: 'button tiny' %>
        </li>
      <% end %>
      </ul>
    <% end %>
  </div>

  <div id="file-upload" class="with-padding">
    <fieldset class="fieldset fields-list">
      <%= form_for @checklist_item.attachments.build do |f| %>
        <%= f.hidden_field :attachable_id %>
        <%= f.hidden_field :attachable_type %>
        <div class="button-height field-block">
          <%= f.label :item, 'Attach a file:', class: 'label' %>
          <span class="input file">
            <span class="file-text"></span>
            <span class="button compact">Select File</span>
            <%= f.file_field :item, class: "file withClearFunctions" %>
          </span>
        </div>
        <div class="field-block button-height">
        <p class="button-height">
          <%= link_to 'javascript:void(0)', class: 'button upload' do %>
            <span class="button-icon blue-gradient"><span class="icon-cloud-upload"></span></span>
            Upload File
          <% end %>
        </p>
      <% end %>
    </fieldset>
  </div>
  <div id="file-uploading" class="with-padding" style="display: none">
    <div class="mid-margin-bottom">Uploading, please wait...</div>
    <span class="loader huge working"></span>
  </div>

  <div class="with-padding">
    <hr />
  </div>
  <div class="with-padding">
    <% unless @checklist_item.has_checklist? %>
      <%= link_to new_checklist_path(checklist_item_id: @checklist_item.id), class: 'button' do %>
        <span class="button-icon blue-gradient glossy"><span class="icon-page-list"></span></span>
        Add Checklist
      <% end %>
    <% else %>
      <table class="table">

        <thead>
          <tr>
            <th scope="col">List Name</th>
            <th scope="col">Frequency</th>
            <th scope="col">Assigned To</th>
            <th scope="col">Created By</th>
            <th scope="col"></th>
          </tr>
        </thead>

        <tbody>

          <tr>
            <th scope="row"><%= link_to @checklist_item.item_checklist.name, @checklist_item.item_checklist %></th>
            <td><%= @checklist_item.item_checklist.frequency %></td>
            <td><%= @checklist_item.item_checklist.assigned_to %></td>
            <td><%= @checklist_item.item_checklist.author_full_name %></td>
            <td class="align-right low-padding">
              <%= link_to 'Show', @checklist_item.item_checklist, class: 'button compact' %>
              <% if can? :update, @checklist_item.item_checklist %>
                <%= link_to 'Edit', edit_checklist_path(@checklist_item.item_checklist), class: 'button compact' %>
                <%= link_to 'Delete', @checklist_item.item_checklist, method: :delete, class: 'button compact', data: { confirm: 'Are you sure?' } %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td colspan=5>
              <strong>Checklist Items</strong>
            </td>
          </tr>

          <% @checklist_item.item_checklist.checklist_items.each do |item| %>
            <tr>
              <td>&nbsp;</td>
              <th scope="row"><%= link_to item.name, item %></th>
              <td>
                <% unless item.is_complete? Time.now %>
                  <%= link_to 'Complete', complete_checklist_item_path(item), class: 'button', remote: true, method: :put %>
                <% else %>
                  <span class="green margin-right"><strong>Completed!</strong></span>
                <% end %>
              </td>
              <td>
                <% if item.is_complete? Time.now %>
                  <%= link_to 'Undo', undo_complete_checklist_item_path(item), class: 'button', remote: true, method: :put %>
                <% else %>
                  &nbsp;
                <% end %>
              </td>
              <td>
                <% if item.has_attachments? %>
                  <span class="icon-paperclip icon-size1"></span>
                  (<%= item.attachments.size %>)
                <% end %>
              </td>
            </tr>
          <% end %>

        </tbody>

      </table>
    <% end %>
  </div>

</div>
